@model Admin.Customers.CustomersViewModel
@{
    ViewData["Title"] = "Customers";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Birth date</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td><a asp-action="Customer" asp-route-id="@customer.Id">@customer["https://schema.org/name"]</a></td>
                <td>@customer["https://schema.org/email"]</td>
                <td>@customer["https://schema.org/birthDate"]</td>
            </tr>
        }
        </tbody>
    </table>
</div>
