@model Admin.Customers.CustomersViewModel
@{
    ViewData["Title"] = "Customers";
    // Set Layout here because _ViewStart.cshtml isn't loaded for some reason.
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>
</div>
