@model Admin.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    // Set Layout here because _ViewStart.cshtml isn't loaded for some reason.
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.AuthorizedUserName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
