@model Admin.Transactions.TransactionsViewModel
@{
    ViewData["Title"] = "Transactions";
    // Set Layout here because _ViewStart.cshtml isn't loaded for some reason.
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Transactions</h1>
</div>
